@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container-small {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-small {
    max-width: 540px;
    padding: 0 10px;
  }
}

@media (max-width: 580px) {
  .container-small {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .container-small {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-small {
    max-width: 800px;
    /* margin: 0 10px; */
  }
}

@media (min-width: 1200px) {
  .container-small {
    max-width: 800px;
  }
}
